*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
}
img{
    max-width: 100%;
    vertical-align: bottom;
    height: auto;
}
svg {
    height: 100%;
    width: 100%;
}

h1 { 
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: inherit;
    font-size: 4em;  
    font-weight: 300;
}
header { 
    color: white;
    background: green;
}